.form, 
.field {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form input[type="text"],
.form select {
    padding: 1rem;
    background-color: transparent;
    color: var(--white);
    border: .3rem solid var(--white);
    border-radius: 1rem;
    font-size: 1.8rem;
}

.input::placeholder {
    color: var(--white);
}

.submit {
    padding: 1rem;
    border: none;
    font-size: 2rem;
    border-radius: 1rem;
    color: var(--white);
    background-color: var(--primary);
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

.submit:hover {
    filter: brightness(50%);
}
